body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.base {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 600px;
}

.arriba {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  width: 550px;
  height: 300px;
  background-color: #b6b7b9;
  border-radius: 10px;
  border: solid black 1px;
}

.altavoz {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 10px;
  width: 200px;
}

.pantallaArriba {
  height: 230px;
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 5px;
}

.pantallaArriba {
  height: 230px;
  width: 260px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 5px;
}

.contornoArriba {
  height: 250px;
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #939394;
  border-radius: 5px;
}

.medio {
  width: 550px;
  height: 30px;
  background-color: #b6b7b9;
  border-radius: 15px;
  border: solid black 1px;
}

.abajo {
  width: 550px;
  height: 300px;
  background-color: #b6b7b9;
  border-radius: 10px;
  border: solid black 1px;
}

.pantallaAbajo {
  height: 230px;
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 5px;
}

.contornoAbajo {
  height: 250px;
  width: 270px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #939394;
  border-radius: 5px;
}

.movimiento{
    position: relative;
    top: 100px;
    left: 60px;
}

.movimiento > div{
  width: 20px;
  height: 20px;
  background-color: rgb(78, 78, 80);
  position: absolute;
  text-align: center;
}

.movimiento #arriba{
    top: -20px;
    left: -1px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.movimiento #abajo{
    top: 20px;
    left: -1px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.movimiento #izquierda{
    left: -21.3px;
    top: 0px;
    transform: rotate(90deg);
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.movimiento #derecha{
    left: 19.5px;
    top: 0px;
    transform: rotate(90deg);
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
}


.botones{
    position: relative;
    top: 100px;
    left: 60px;
}

.botones > div{
  width: 20px;
  height: 20px;
  background-color: rgb(78, 78, 80);
  position: absolute;
  text-align: center;
}

.botones #arriba{
    top: -20px;
    left: -1px;
}

.botones #abajo{
    top: 20px;
    left: -1px;
}

.botones #izquierda{
    left: -21.3px;
    top: 0px;
    transform: rotate(90deg);
}

.botones #derecha{
    left: 19.5px;
    top: 0px;
    transform: rotate(90deg);
}